main{
  margin-top: 10px;
}

.titles{
  margin-top: 10px;
  text-align: center;
  img{
    width: 50px;
    transition-property: transform;
    transition-duration: 0.3s;
  }
  img:hover{
    transform: scale(1.3);
  }
}
.navlist{
  display: flex;
  text-align: center;
  justify-content: center;

  li{
    margin: 10px 10px;
    margin-left: 20px; 
    list-style-type: none;
    transition-property: transform;
    transition-duration: .3s;
  }
  li:hover{
    transform: scale(1.2);
  }

}

a{
  color: blue;
    text-decoration: none;
}
a:hover{
  text-decoration: underline;
    color: purple;
}

.deepseek, .chatgpt, .gemini{
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 3px 10px;
  border-radius: 10px;
  h2{
    margin-bottom: 20px;
  }
  p{
    text-indent: 20px;
    text-align: justify;
  }
}